body {
  background-color: cornflowerblue;
}

h1 {
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

#results_list {
  list-style: none;
  background-color: #345BA0;
  padding: 1.5em 1.5em;
}

#results_list > li {
  background-color: #95BA3C;
  height: 100%;
  margin: .5em 0em;
  padding: 1em;
}
.preview_img {
  max-width: 280px;
}
#footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#footer a, i {
  color: white;
}
#github_icon {
  margin-left: 3px;
}
